In [10]:
import IPython.display as display
import pandas as pd

df = pd.read_csv('D:\Личное\data_sf.csv')

small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [18]:
n = small_df['Nationality'].value_counts()
n
n.index[0]
len(n.index)
n['Poland']
n.loc[n > 2]

Spain        4
Uruguay      3
Belgium      3
Argentina    3
Germany      3
Name: Nationality, dtype: int64

In [21]:
n = df['Club'].value_counts()
len(n)

650

In [28]:
sb = len(df[df.Club == 'Shonan Bellmare'].value_counts())
cu = len(df[df.Club == 'Colchester United'].value_counts())
bu = len(df[df.Club == 'Bury'].value_counts())
v = len(df[df.Club == 'V-Varen Nagasaki'].value_counts())
dg = len(df[df.Club == 'De Graafschap'].value_counts())
vk = len(df[df.Club == 'Vissel Kobe'].value_counts())
print(sb, cu, bu, v, dg, vk)

30 28 28 30 29 29

In [32]:
min_p = df['Club'].value_counts()
min_p

V-Varen Nagasaki     30
Shonan Bellmare      30
Vissel Kobe          29
FC Emmen             29
De Graafschap        29
                     ..
Olympiacos CFP        8
Vitória Guimarães     7
GD Chaves             7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [6]:
import pandas as pd
df = pd.read_csv('D:\Личное\data_sf.csv')
min_w = df[df.Nationality == 'Spain'].Wage.value_counts(normalize=True, bins=4)
display(min_w)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [8]:
n = df[df.Club == 'Manchester United'].Nationality.nunique()
n

13

In [10]:
nm = df[(df.Club == 'Juventus') & (df.Nationality == 'Brazil')].Name.unique()
nm

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [13]:
ag = df[df.Age > 35].Club.value_counts()
ag

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Club Atlético Talleres        3
Club Atlético Colón           3
Club Atlético Tigre           3
                             ..
RCD Mallorca                  1
Burton Albion                 1
Cádiz CF                      1
Deportivo Cali                1
SC Paderborn 07               1
Name: Club, Length: 212, dtype: int64

In [14]:
arg = df[df.Nationality == 'Argentina'].Age.value_counts(bins=4)
arg

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [17]:
arg = df[df.Nationality == 'Spain'].Age.value_counts(normalize=True)
arg

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
19    0.047690
29    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
16    0.002981
39    0.002981
38    0.001490
Name: Age, dtype: float64

In [21]:
clb = df.groupby(['Club']).sum()
display(clb)

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,129124,609,15195000,90000,1104,944,1283,1362,944,1196,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,117834,473,18290000,76000,961,860,955,1136,846,1040,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,167351,544,11195000,33000,1106,918,1133,1272,899,1131,...,1030,1174,938,989,996,392,373,348,368,356
1. FC Köln,54865,225,46810000,92000,444,357,434,567,320,486,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,116731,515,57525000,84000,948,903,1044,1157,769,1024,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,220803,656,6815000,27000,1161,1007,1152,1357,979,1252,...,1113,1371,1219,1187,1156,427,391,417,391,413
Çaykur Rizespor,119137,557,27515000,118000,1110,921,1137,1290,888,1233,...,1063,1200,1050,1155,1143,375,394,387,388,389
Örebro SK,224465,622,8465000,36000,1114,974,1149,1311,965,1270,...,1066,1393,1112,1045,1008,412,406,386,428,407
Östersunds FK,136103,478,11030000,39000,944,805,856,1109,801,1066,...,847,1132,920,842,816,342,357,369,337,363
Śląsk Wrocław,172358,628,9170000,50000,1058,1054,1289,1313,988,1238,...,1150,1314,1047,1161,1129,408,403,367,394,403

In [24]:
clb.loc['Ajax']['Wage']

158000

In [32]:
wge = df.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
display(wge)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [39]:
xds = df.groupby(['Nationality'])[['Wage', 'Age', 'ShotPower']].mean().sort_values(['Wage'], ascending=False)
display(xds)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
...                          ...        ...        ...
Indonesia            1000.000000  17.000000  47.000000
Jordan               1000.000000  23.000000  60.000000
Nicaragua            1000.000000  29.000000  65.000000
Qatar                1000.000000  24.000000  36.000000
St Lucia             1000.000000  24.000000  50.000000

[156 rows x 3 columns]

In [43]:
dfs = df.loc[df['Nationality'] == 'Dominican Republic'][['Name', 'Club', 'Wage', 'Age', 'ShotPower']]
dfs

            Name         Club    Wage  Age  ShotPower
291      Mariano  Real Madrid  140000   24         85
6279  L. Quezada   Córdoba CF    2000   22         66

In [44]:
xds = df.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending=False)
display(xds)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [62]:
dsfa = df.groupby(['Club'])['Wage'].agg(['median', 'mean'])
dsfa.loc[dsfa['median'] == dsfa['mean']].sort_values(['mean'], ascending=False)

                        median     mean
Club
Cruzeiro                 13000  13000.0
Göztepe SK                7000   7000.0
Brøndby IF                6000   6000.0
Sunderland                4000   4000.0
CD Feirense               4000   4000.0
1. FC Magdeburg           4000   4000.0
Northampton Town          2500   2500.0
Stade Brestois 29         2000   2000.0
Jeonnam Dragons           2000   2000.0
Pohang Steelers           2000   2000.0
AJ Auxerre                2000   2000.0
Grimsby Town              2000   2000.0
Heracles Almelo           2000   2000.0
Philadelphia Union        2000   2000.0
Kashiwa Reysol            2000   2000.0
CD Tondela                2000   2000.0
Benevento                 2000   2000.0
FC Metz                   1500   1500.0
PAOK                      1000   1000.0
Orlando Pirates           1000   1000.0
Panathinaikos FC          1000   1000.0
Patriotas Boyacá FC       1000   1000.0
PFC CSKA Moscow           1000   1000.0
Shakhtar Donetsk          1000   1000.0
SK Slavia Praha           1000   1000.0
Shamrock Rovers           1000   1000.0
Sligo Rovers              1000   1000.0
Sparta Praha              1000   1000.0
Spartak Moscow            1000   1000.0
St. Patrick's Athletic    1000   1000.0
Trelleborgs FF            1000   1000.0
Olympiacos CFP            1000   1000.0
Jaguares de Córdoba       1000   1000.0
Lokomotiv Moscow          1000   1000.0
Dynamo Kyiv               1000   1000.0
Bohemian FC               1000   1000.0
Boyacá Chicó FC           1000   1000.0
Bray Wanderers            1000   1000.0
Cork City                 1000   1000.0
Deportivo Pasto           1000   1000.0
Dinamo Zagreb             1000   1000.0
Dundalk                   1000   1000.0
Envigado FC               1000   1000.0
Limerick FC               1000   1000.0
FC Energie Cottbus        1000   1000.0
HJK Helsinki              1000   1000.0
IF Brommapojkarna         1000   1000.0
IK Sirius                 1000   1000.0
Itagüí Leones FC          1000   1000.0
AEK Athens                1000   1000.0
Kaizer Chiefs             1000   1000.0
Viktoria Plzeň            1000   1000.0

In [67]:
#Задачи 6.10
wag = df.groupby(df.Club == 'Chelsea').Wage.sum()
display(wag)

Club
False    94919000
True      2035000
Name: Wage, dtype: int64

In [71]:
age_ = df.groupby((df['Nationality'] == 'Argentina') & (df['Age'] == 30)).Wage.min()
age_

False    1000
True     1000
Name: Wage, dtype: int64

In [78]:
age_ = df.groupby((df['Nationality'] == 'Argentina') & (df['Club'] == 'FC Barcelona'))[['Strength', 'Balance']].max()
display(age_)

       Strength  Balance
False        97       96
True         59       95

In [85]:
#сводная таблица
pivot = df.loc[df['Club'].isin(['FC Barcelona', 'Juventus', 'Real Madrid', 'Chelsea'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
margins=False,
fill_value=0)
display(pivot)

                      Name
Club               Chelsea FC Barcelona Juventus Real Madrid
Nationality
Argentina                1            1        1           0
Belgium                  1            1        0           1
Bosnia Herzegovina       0            0        1           0
Brazil                   0            2        2           2
Chile                    0            1        0           0
Costa Rica               0            0        0           1
Croatia                  1            1        1           1
Dominican Republic       0            0        0           1
England                  6            0        0           0
France                   2            3        1           3
Germany                  0            1        1           1
Italy                    2            0        4           0
Morocco                  0            0        1           0
Netherlands              0            1        0           0
Nigeria                  1            0        0           0
Poland                   1            0        1           0
Portugal                 0            1        1           0
Scotland                 1            0        0           0
Spain                    4            9        0          11
Uruguay                  0            1        0           0
Wales                    0            0        0           1

In [89]:
#Обращение к элементам сводной таблицы
pivot.loc['Spain']['Name']['Real Madrid']

11

In [96]:
pos = df.pivot_table(values='Name',
index='Club',
columns='Position',
aggfunc='count',
fill_value=0)
pos

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,5,1,0,2,3,0,2,0,0,...,2,1,0,1,0,0,0,0,0,3
1. FC Heidenheim 1846,1,3,0,0,1,2,0,2,1,0,...,2,1,0,0,0,3,0,0,0,2
1. FC Kaiserslautern,0,3,3,0,0,3,0,2,1,0,...,2,0,0,1,0,2,1,0,0,1
1. FC Köln,0,1,1,0,2,3,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1. FC Magdeburg,0,4,0,1,0,3,0,1,1,1,...,0,1,1,0,0,3,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,3,2,2,0,0,3,0,3,1,0,...,1,1,0,1,0,2,0,0,0,1
Çaykur Rizespor,1,2,5,0,0,3,0,2,1,0,...,3,0,0,1,0,1,0,0,0,1
Örebro SK,0,4,0,0,1,3,0,0,1,1,...,0,1,1,0,0,0,0,2,2,5
Östersunds FK,1,1,0,1,3,3,0,2,1,1,...,1,1,0,0,0,1,0,1,0,1
Śląsk Wrocław,0,1,3,0,1,3,0,2,1,0,...,2,1,0,1,0,2,1,0,0,2

In [103]:
display(pos['GK'].mean())

2.5246153846153847

In [104]:
frame = pd.DataFrame(pos)

In [114]:
cm = len(frame[frame.CM == 0].value_counts())
cm

136

In [115]:
wg = df.pivot_table(values='Wage',
index='Club',
columns='Nationality',
aggfunc='sum',
fill_value=0)
wg

Nationality,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua & Barbuda,Argentina,Armenia,Australia,Austria,...,Turkey,Uganda,Ukraine,United States,Uruguay,Uzbekistan,Venezuela,Wales,Zambia,Zimbabwe
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1. FC Heidenheim 1846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1. FC Kaiserslautern,0,0,0,0,0,0,0,0,0,0,...,1000,0,0,0,0,0,0,0,0,0
1. FC Köln,0,0,0,0,0,0,0,0,0,18000,...,0,0,0,1000,0,0,0,0,0,0
1. FC Magdeburg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,0,0,0,0,1000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Çaykur Rizespor,0,0,0,0,0,0,0,0,0,0,...,47000,0,0,0,0,0,0,0,0,0
Örebro SK,0,1000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Östersunds FK,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Śląsk Wrocław,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
wg.loc['AS Monaco']['Russia']

61000

In [134]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(spd)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,LDM,LF,LM,LS,LW,LWB,RAM,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
SprintSpeed,68.236967,57.734854,60.813314,69.803922,64.299906,37.622182,76.333333,70.718563,58.93643,65.334764,62.006757,75.875,74.211538,72.338843,74.747934,72.833333,73.8,71.186709,58.239234,65.233333,62.152174,76.333333,74.943864,71.991228,75.417722,73.128571,68.700397

KeyError: 'SprintSpeed'