In [122]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [123]:
data = pd.read_csv(r'E:\Projects\Skillfactory\Unit_1\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1116,tt0302886,24000000,87055349,Old School,Luke Wilson|Will Ferrell|Vince Vaughn|Ellen Po...,Todd Phillips,"All the fun of college, none of the education.",Three friends attempt to recapture their glory...,91,Comedy,DreamWorks SKG|The Montecito Picture Company,2/21/2003,6.6,2003
284,tt1078940,70000000,171844840,Couples Retreat,Vince Vaughn|Malin Ã…kerman|Jason Bateman|Kris...,Peter Billingsley,It may be paradise... but it's no vacation.,"Four couples, all friends, descend on a tropic...",113,Comedy|Romance,Universal Pictures|Wild West Picture Show Prod...,9/19/2009,5.3,2009
1611,tt0349683,120000000,203567857,King Arthur,Clive Owen|Ioan Gruffudd|Keira Knightley|Mads ...,Antoine Fuqua,Rule Your Fate.,"The story of the Arthurian legend, based on th...",126,Adventure|War|History,Jerry Bruckheimer Films|World 2000 Entertainme...,7/7/2004,6.1,2004
96,tt1741273,19500000,32189727,Secret in Their Eyes,Chiwetel Ejiofor|Nicole Kidman|Julia Roberts|D...,Billy Ray,Don't look back,"A tight-knit team of FBI investigators, along ...",111,Crime|Drama|Mystery,Ingenious Media|Gran Via Productions|IM Global...,10/14/2015,6.2,2015
839,tt1742650,24000000,30551495,I Don't Know How She Does It,Sarah Jessica Parker|Pierce Brosnan|Sarah Shah...,Douglas McGrath,"If it were easy, men would do it too.","A comedy centered on the life of Kate Reddy, a...",89,Comedy,The Weinstein Company,9/16/2011,5.2,2011

In [124]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [125]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [126]:
data['runtime'] = pd.to_numeric(data.runtime) #преобразуем длительность фильма в числовой формат
data['profit'] = data['revenue'] - data['budget'] #добавим колонку profit как разницу между сборами и бюджетом

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [127]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [129]:
# тут пишем ваш код для решения данного вопроса:
data1 = data[(data.budget == data.budget.max())] #сортируем датафрейм по максимальному значению в колонке бюджет
data1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [193]:
data1_2 = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False) #вариант с groupby
data1_2

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Paranormal Activity 3                            5000000
Oculus                                           5000000
Paranormal Activity 4                            5000000
Dallas Buyers Club                               5000000
Wonderland                                       5000000
Name: budget, Length: 1887, dtype: int64

In [130]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [131]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [132]:
#делаем выборку по максимальному значению в колонке runtime
data2 = data[(data.runtime == data.runtime.max())]
data2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [133]:
# 3-й ответ
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [134]:
#делаем выборку по минимальному значению в колонке runtime
data3 = data[(data.runtime == data.runtime.min())]
data3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [135]:
#Ответ на 4-й вопрос
answers['4'] = '4. 110 (109.658549)'

In [136]:
#получаем статистические данные и берем значение mean по столбцу runtime
data4 = data.describe()
data4

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [137]:
answers['5'] = '1. 107 (107.0)'

In [138]:
#применяем функцию median к runtime
data5 = data['runtime'].median()
data5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [139]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [140]:
answers['6'] = '5. Avatar (tt0499549)'

In [141]:
#profit вынесли в предобработку. сортируем по максимальной прибыли
data6 = data[(data.profit == data.profit.max())]
data6

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [142]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [143]:
#сортируем по минимальной прибыли
data7 = data[(data.profit == data.profit.min())]
data7

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [144]:
answers['8'] = '1. 1478'

In [145]:
#сортируем по условию прибыль > бюджета и считаем общее количество фильмов в получившейся выборке
data8 = data[(data.revenue > data.budget)].count()
data8

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [146]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [147]:
#фильтр по году выпуска 2008 и сортировка по убыванию по значению прибыль
data9 = data[(data['release_year'] == 2008)].sort_values(['profit'], ascending=False) 
data9.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [148]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [149]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [150]:
#с помощью query функции отбираем все фильмы с 2012 по 2014 и сортируем по прибыли в порядке возрастания
data10 = data.query('2012<=release_year<=2014').sort_values('profit')
data10.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

ВАРИАНТ 2

In [151]:
answers['11'] = '3. Drama (782)'

In [152]:
#копируем dataframe
data11 = data.copy()
#переводим строку в список с разделителем '|' затем разделяем список на строки explode() и находим самое частое значение mode()
data11 = data11.genres.str.split('|').explode().mode()[0]

data11

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [153]:
answers['12'] = '1. Drama'

In [154]:
#копируем dataframe
data12 = data.copy()
#сортируем query по положительной прибыли. Переводим строку в список с разделителем '|' затем разделяем список на строки explode() и находим самое частое значение mode()
data12 = data12.query('profit > 0').genres.str.split('|').explode().mode()[0]
data12

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [155]:
answers['13'] = '5. Peter Jackson'

In [156]:
data13 = data.copy()
#переводим режиссеров  в список
data13.director = data13.director.str.split('|')
#разделяем режиссеров по строкам, группируем, суммируем прибыль и сортируем по убыванию
data13 = data13.explode('director').groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
data13

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [157]:
answers['14'] = '3. Robert Rodriguez'

In [158]:
data14 = data.copy()
#переводим в список жанры и режиссеров
data14.genres = data14.genres.str.split('|')
data14.director = data14.director.str.split('|')
#разделяем жанры и режиссеров на отдельные строки
data14 = data14.explode('genres')
data14 = data14.explode('director')
#фильтр по значению жанра Action. Выбираем наиболее часто встречающегося функцией mode()
data_act = data14.query('genres in "Action"').director.mode()[0]
data_act

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [159]:
answers['15'] = '3. Chris Hemsworth'

In [160]:
data15 = data.copy()
#список из актеров
data15.cast = data15.cast.str.split('|')
#фильтр по году 2012 и положительной прибыли. Разбиваем актеров по отдельным строкам и группируем. суммируем прибыль и сортируем по убыванию
data15 = data15.query('release_year == 2012 & profit > 0').explode('cast')\
    .groupby(['cast'])['profit'].sum().sort_values(ascending=False).index[0]
data15

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [161]:
answers['16'] = '3. Matt Damon'

In [162]:
data16 = data.copy()
#высокобюджетный фильм - бюджет выше среднего. Фильтруем по этому условию, актеров считаем через mode()
d16_act = data16[data16.budget > data16.budget.mean()].cast.str.split('|').explode().mode()[0]
d16_act

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [163]:
answers['17'] = '2. Action'

In [164]:
data17 = data.copy()
#строки в списки и разбивка по столбцам актеров и жанры
data17.cast = data17.cast.str.split('|')
data17.genres = data17.genres.str.split('|')
data17 = data17.explode('cast')
data17 = data17.explode('genres')
#фильтр актеров по вхождению Nicolas Cage. Подсчет жанров с его участием через value_counts с сортировкой по убыванию
cage = data17.query('cast in "Nicolas Cage"').genres.value_counts(sort=True, ascending=False).index[0]
cage

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [165]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [166]:
data18 = data.copy()
#разбиваем студии на списки и по отдельным строкам
data18.production_companies = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')
#фильтр по вхождению в студии Парамаунт Компани. Сортировка прибыли по возрастанию
data18 = data18.query('production_companies in "Paramount Pictures"').sort_values('profit', ascending=True)
data18.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [167]:
answers['19'] = '5. 2015'

In [168]:
data19 = data.copy()
#группируем по году выпуска и считаем суммарную прибыль. Сортируем по убыванию
data19 = data19.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
data19

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [169]:
answers['20'] = '1. 2014'

In [170]:
data20 = data.copy()
#разбиваем студии на списки и по отдельным строкам
data20.production_companies = data20.production_companies.str.split('|')
data20 = data20.explode('production_companies')
#фильтр по названиям студий имеющих в названии Warner. Группировка по году и суммирование прибыли. Сортировка по убыванию
data20 = data20.query('production_companies.str.contains("Warner")')\
        .groupby(['release_year'])['profit'].sum()\
        .sort_values(ascending=False).index[0]
data20

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [171]:
answers['21'] = '4. September' #записываем ответ в answers

In [172]:
data21 = data.copy() #копируем датафрейм
data21.release_date = pd.to_datetime(data21.release_date) #преобразуем дату релиза в формат datetime
data21.release_date = data21.release_date.dt.strftime('%B') #выделяем месяц и преобразуем его в полное название
data21 = data21.release_date.mode()[0] #с помощью метода mode() считаем наиболее часто встречающийся месяц и выводим самый первый
data21

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [173]:
answers['22'] = '2. 450' #записываем ответ в answers

In [174]:
data22 = data.copy() #копируем датафрейм
data22.release_date = pd.to_datetime(data22.release_date) #преобразуем дату релиза в формат datetime
data22.release_date = data22.release_date.dt.strftime('%B') #выделяем месяц и преобразуем его в полное название
data22 = data22.query('release_date in ["June", "July", "August"]').release_date.count() #функцией query отфильтровываем нужные месяца и считаем их общее количество
data22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [175]:
answers['23'] = '5. Peter Jackson' #записываем ответ в answers

In [176]:
data23 = data.copy() #копируем датафрейм
data23.release_date = pd.to_datetime(data23.release_date) #преобразуем дату релиза в формат datetime
data23.release_date = data23.release_date.dt.strftime('%B') #выделяем месяц и преобразуем его в полное название
data23.director = data23.director.str.split('|') #преобразуем строку в список с разделителем '|'
data23 = data23.explode('director') #разбиваем список по отдельным строчкам в столбце director
dir_win = data23.query('release_date in ["December", "January", "February"]')\
    .director.value_counts(sort=True, ascending=False).index[0] #функцией query отфильтровываем нужные месяца и считаем их общее количество для каждого режиссера
dir_win

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [177]:
answers['24'] = '5. Four By Two Productions' #записываем ответ в answers

In [178]:
#копируем датафрейм
data24 = data.copy()
#заменяем названия фильмов на количество символов
data24['original_title'] = data24.original_title.apply(lambda x: len(x))
#преобразуем строку с названиями компаний в список с разделителем '|'
data24.production_companies = data24.production_companies.str.split('|')
#разбиваем список по отдельным строчкам в столбце production_companies
data24 = data24.explode('production_companies')
#считаем среднюю длину названий фильмов у студий и сортируем по убыванию
longest_names = data24.groupby(['production_companies'])['original_title']\
    .mean().sort_values(ascending=False).index[0]
longest_names

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [179]:
answers['25'] = '3. Midnight Picture Show' #записываем ответ в answers

In [180]:
#копируем датафрейм
data25 = data.copy()
#преобразуем описание в список и меняем текст на слов
data25['overview'] = data25.overview.str.split().str.len()
#разбиваем студии по отдельным строкам
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
#группируем студии по средней длине описаний и сортируем в порядке убывания
longest_overview = data25.groupby(['production_companies'])['overview'].mean().idxmax()
longest_overview

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [181]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #записываем ответ в answers

In [182]:
#копируем датафрейм
data26 = data.copy()
# посчитаем значение, выше которого входит 1% лучших рейтингов
good = np.percentile(data26.vote_average, 99)
# сортируем лучшие фильмы и выводим названия
best_films = data26[data26.vote_average > good]
best_films.original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [183]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #записываем ответ в answers

In [184]:
#копируем датафрейм
data27 = data.copy()
#преобразуем актеров из строк в списки
data27.cast = data27.cast.str.split('|')
#объявляем счетчик Counter из библиотеки collections
pair_act = Counter()
#запускаем цикл создания уникальных пар актеров
for i in range(0, len(data27)):
    actors = data27.cast[i]
    for couples in list(combinations(actors, 2)): # с помощью combinations создаем пары
        if couples not in pair_act:               # если нет вхождения в пару - оставляем 1
            pair_act[couples] = 1                 
        else:                                     # иначе, добавляем в пару +1
            pair_act[couples] += 1
pair_act.most_common(1)                           # сортируем по наиболее частому вхождению

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

In [185]:

#более лаконичный вариант решения
data27 = data.copy()
pair_act2 = Counter()
for cast in data27['cast'].str.split('|'):
    for actors2 in list(combinations(cast, 2)):
        pair_act2[tuple(sorted(actors2))] += 1
pair_act2.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [186]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110 (109.658549)',
 '5': '1. 107 (107.0)',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama (782)',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. September',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [187]:
# и убедиться что ни чего не пропустил)
len(answers)

27